{% extends 'movies_base.html' %}
{% load static %}
{% block movies %}
    {% block johan %}
    {% endblock %}
    <div class="wrapper" style="border: 1px solid red">
        <div id="sidebar" style="border: 1px solid red">
            <h3>Жанры</h3>
            <ul>
                <li {% if not genre %}class="selected" {% endif %}>
                    <a href="{% url 'movies:movie_list' %}">Все фильмы всех жанров</a>
                </li>
                {% for m in genres %}
                    <li {% if genre.slug == m.slug %}class="selected" {% endif %}>
                        <a href="{{ m.get_absolute_url }}">{{ m.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div id="movie_main" class="movie_list" style="border: 1px solid red">
            <h1>{% if genre %}{{ genre.title }}{% else %}Фильм{% endif %}</h1>
            {% for movie in movies %}
                <div class="item_movie">
                    <a href="{{ movie.get_absolute_url }}">
                        <img src="


                                {% if movie.images %}{{ movie.images.url }}{% else %}{% static 'img/no_img.png' %}{% endif %}"
                             alt="Фото">
                    </a>
                    <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}